.socials-container {
    justify-content: flex-start;
    padding: 0rem;
    align-items: center;
    margin: 1rem 0rem;
    overflow-x: scroll;
    max-width: 510px;
}

@media screen and (min-width: 576px) {
    .socials-container {
        margin: 1rem 2rem;
        margin: 0 auto;
    }
}

.socials-container::-webkit-scrollbar {
    background-color: transparent;
}
.socials-container::-webkit-scrollbar-thumb {
    background-color: var(--gray-transparent);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;  
    opacity: .5;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.social {
    position: relative;
    margin: .5rem;
    margin-bottom: 2rem;
}

.social-type {
    display: none;
    text-transform: capitalize;
    position: absolute;
    top: 60%;
    padding: .5rem;
    background-color: var(--gray-transparent);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;  
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    z-index: 99;
}

.social:hover .social-type {
    display: block;
}
